@font-face {
    font-family: "Gotham";
    src: url("/storage/fonts/gotham/woff2/Gotham-Book.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/storage/fonts/gotham/woff2/Gotham-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("/storage/fonts/gotham/woff2/Gotham-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}
